*{
	box-sizing: border-box;
	margin:0px;
	padding:0px;
}
.container{
	background-color: black;
	width: 100vw;
	height: 100vh;
}
.cat-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#bulb{
	width: 100px;
	height: 150px;
}
#cat{
	width: 150px;
	height: 150px;
}
.onOff-button{
	width: 100px;
	background-color: aqua;
	color:orangered;
	font-size: 1rem;
	font-weight: 900;
	padding:8px 10px;
	border: unset;
	border-radius: 8px;
}